[submodule "walnut"]
	path = walnut
	url = https://github.com/Mr-Precise/Walnut-cmake
[submodule "Delta++UI/vendor/Walnut"]
	path = Delta++UI/vendor/Walnut
	url = https://github.com/StudioCherno/Walnut.git
